doctype html
html(lang='en')
  head
    // Google Tag Manager
    script (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WKQJ2JG');
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title DSConf 2019 | India's Premier Distributed Systems Conference
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='../assets/css/style-19.css')
    link(rel='icon', type='image/png', href='../assets/img/DSConf_logo.png')
    // Search Engine
    meta(name='description', content='DSConf is a conference on distributed systems that happens in Pune. The second edition is slated for 16 Feb 2019 at the Novotel, Pune.')
    meta(name='image', content='https://dsconf.in/assets/img/site-image-meta.jpg')
    // Schema.org for Google
    meta(itemprop='name', content="DSConf 2019 | India's Premier Distributed Systems Conference")
    meta(itemprop='description', content='DSConf is a conference on distributed systems that happens in Pune. The second edition is slated for 16 Feb 2019 at the Novotel, Pune.')
    meta(itemprop='image', content='https://dsconf.in/assets/img/site-image-meta.jpg')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content="DSConf 2019 | India's Premier Distributed Systems Conference")
    meta(name='twitter:description', content='DSConf is a conference on distributed systems that happens in Pune. The second edition is slated for 16 Feb 2019 at the Novotel, Pune.')
    meta(name='twitter:site', content='@dist_sys')
    meta(name='twitter:creator', content='@dist_sys')
    meta(name='twitter:image:src', content='https://dsconf.in/assets/img/site-image-meta.jpg')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='url', property='og:url', content='https://dsconf.in')
    meta(name='site_name', property='og:site_name', content='DSConf 2019')
    meta(name='title', property='og:title', content="DSConf 2019 | India's Premier Distributed Systems Conference")
    meta(name='type', property='og:type', content='website')
    meta(name='image', property='og:image', content='https://dsconf.in/assets/img/site-image-meta.jpg')
    meta(name='description', property='og:description', content='DSConf is a conference on distributed systems that happens in Pune. The second edition is slated for 16 Feb 2019 at the Novotel, Pune.')
    // Twitter universal website tag code
    script.
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','o18c2');
      twq('track','PageView');

  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WKQJ2JG", height="0", width="0", style="display:none;visibility:hidden")
    nav#navbar
      .container
        .nav-anchor
        img.nav-menu-icon(src='../assets/img/menu.svg')
        a.button.nav-mob-cta(href="#!") Register now
        ul#navbar-ul
          li.navbar-ul--first
            span x
          li
            a(href='#speakers') Speakers
          li
            a(href='#schedule') Schedule
          li
            a(href='#sponsors') Sponsors
          li
            a(href='#location') Location
          li
            a(href='../2018/') DSConf 2018
          li
            a(href='../code-of-conduct/') Code of Conduct
          li
            a.button.navbar-ul--last(href="https://www.meetup.com/Distributed-Systems-Meetup/", target="_blank", rel="noopener noreferrer") Join Meetup Group
    
    main#main
      section.section-hero
        .container
          .section-hero__wrapper
            img.section-hero__logo(src='../assets/img/DSConf2019_logo.svg', alt='DSConf 2019 logo', width='350')
            h1 Distributed Systems Conference
            p.primary.flow 16 February 2019   |   Pune
            //- a.button(href='https://www.papercall.io/distributed-systems-conf') Submit a Talk
            a.button(href="https://www.meetup.com/Distributed-Systems-Meetup/", target="_blank", rel="noopener noreferrer") Join Meetup Group
            .section-hero__social
        img(src="../assets/img/index-hero.png", alt="").section-hero--right-img
        .section-hero--shape-bottom
              
      section#speakers.section-speakers
        .section-speakers--shape-top
        .container
          h2.dash-underline Speakers
          .section-speakers__items
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="../assets/img/milind-bhandarkar.jpg", alt="Milind Bhandarkar")
                .section-speakers__item--right
                  h3 Dr. Milind Bhandarkar
              .section-speakers__item--text
                p Dr. Milind Bhandarkar was the founding member of the team at Yahoo that took Apache Hadoop from a 20-node prototype to datacenter-scale production system. Parallel programming languages and paradigms has been his area of focus for over 20 years. He's worked at the C-DAC, National Center for Supercomputing Applications (NCSA), Center for Simulation of Advanced Rockets, Siebel Systems, Pathscale, Yahoo, LinkedIn, and Greenplum. Prior to founding Ampool, Milind was the Chief Scientist at Pivotal. Milind holds his Ph.D. degree in Computer Science from the University of Illinois at Urbana-Champaign.
                p.section-speakers__item--text-talk 
                  strong Talk: 
                  | Architecting Modern Data Platforms for Hybrid Clouds
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="../assets/img/neil-gunther.jpg", alt="Neil J. Gunther")
                .section-speakers__item--right
                  h3 Dr. Neil J. Gunther
              .section-speakers__item--text
                p Neil Gunther is a computer information systems researcher best known internationally for developing the open-source performance modeling software Pretty Damn Quick and developing the Guerrilla approach to computer capacity planning and performance analysis. He has also been cited for his contributions to the theory of large transients in computer systems and packet networks, and his universal law of computational scalability.
                p.section-speakers__item--text-talk 
                  strong Talk: 
                  | Applying The Universal Scalability Law to Distributed Systems
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="../assets/img/dr-sriram-srinivasan.jpg", alt="Dr. Sriram Srinivasan")
                .section-speakers__item--right
                  h3 Dr. Sriram Srinivasan
              .section-speakers__item--text
                p Dr. Srinivasan is a systems and programming languages geek with 30+ years of experience, from embedded devices to large-scale distributed systems and frameworks. He was one of the principal designers and implementors of the Weblogic application server. He has a PhD from the Univ. of Cambridge and teaches Distributed Systems at IIT Bombay.
                p.section-speakers__item--text-talk 
                  strong Talk: 
                  | Knowledge Logic: Applications to Distributed Systems and Life in General
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="../assets/img/somya-maithani.jpg", alt="Somya Maithani")
                .section-speakers__item--right
                  h3 Somya Maithani
              .section-speakers__item--text
                p Somya Maithani is currently a backend developer (SDE II) at Helpshift for the last three and a half years. She loves solving logical problems, especially the ones that are challenging. In her spare time, she mostly reads books and watch series. She loves to bake and have just started dabling in that.
                p.section-speakers__item--text-talk 
                  strong Talk: 
                  | Combating Entropy in a Highly Distributed System
            .section-speakers__item
              .section-speakers__item--wrapper
                .section-speakers__item--left
                  img(src="../assets/img/tapasweni-pathak.jpg", alt="Tapasweni Pathak")
                .section-speakers__item--right
                  h3 Tapasweni Pathak
              .section-speakers__item--text
                p Tapasweni as a Senior Software Engineer, Manager at Reliance Jio Financial Innovation focuses on owning highly distributed system based financial products and making them seamlessly available. She likes keeping herself involved with open source projects and communities.
                p.section-speakers__item--text-talk 
                  strong Talk: 
                  | Highly Scalable Distributed Tracing and Monitoring System

      section#schedule.section-schedule
        .container
          h2.dash-underline Schedule
          .section-schedule-item
            .section-schedule-item__left
              p 09:00 AM
            .section-schedule-item__right
              h3 Registration
          .section-schedule-item#time-0930am
            .section-schedule-item__left
              p 09:30 AM
            .section-schedule-item__right
              h3 Architecting Modern Data Platforms for Hybrid Clouds
              .section-schedule-item__right--text
                p In the last decade, since the emergence of public clouds, a hard boundary has remained between public clouds and on-premises infrastructures and services. With Azure Stack, GKE, VMWare on AWS, and recent announcements about AWS Outposts, it is clear that the line between public clouds and on-premises infrastructures and services is blurring. Recent developments in the industry, such as merger between Hadoop rivals Cloudera & Hortonworks, as well as IBM's acquisition of RedHat, indicate a trend that an exciting hybrid cloud future awaits us. Public clouds entering on-premises means same logically centralized control planes (and associated managed services) will be available on both public clouds, and on-premises, making hybrid data planes possible. In addition, software systems deployment targets, which until recently were limited to bare metal and heavyweight virtual machines, have proliferated. They now include a hierarchy: Bare metal physical machines, Virtual Machines, MicroVMs, Containers, Isolates, & Functions. This fundamentally changes how distributed data platforms and data-intensive applications will be developed. This talk outlines the architectural building blocks that can be used in specific design patterns for developing modern distributed data platforms. We will draw from our experiences in developing a prominent distributed data analytics platform, Apache Hadoop, and outline how such a platform could be built today with modern building blocks. We intend to cover most aspects of the platform control planes such as high availability, disaster recovery, security, resource scheduling, orchestration, resource isolation, allocation, management, monitoring, scaling, metrics, metering, and logging. I will illustrate this architectural paradigm shift with some of the design choices we have made at Ampool, a modern data analytics platform.
              a.read-more EXPAND
              a.collapse COLLAPSE
              .section-schedule-item__right--speaker
                .section-schedule-item__right--speaker-left
                  img(src="../assets/img/milind-bhandarkar.jpg", alt="Milind Bhandarkar")
                .section-schedule-item__right--speaker-right
                  p Dr. Milind Bhandarkar
          .section-schedule-item.schedule-grey
            .section-schedule-item__left
              p 10:30 AM
            .section-schedule-item__right
              h3 Tea Break
          .section-schedule-item#time-1100am
            .section-schedule-item__left
              p 11:00 AM
            .section-schedule-item__right
              h3 Applying The Universal Scalability Law to Distributed Systems
              .section-schedule-item__right--text
                p When I originally developed the Universal Scalability Law (USL), it was in the context of tightly-coupled Unix multiprocessors, which led to an inherent dependency between the serial contention term and the data consistency term in the USL, i.e., no contention, no coherency penalty. Later, I realized that the USL could have broader applicability to large-scale clusters if this dependency was removed. In this talk I will show examples of how the USL can be applied as a statistical regression model to a variety of large-scale distributed systems, such as, Hadoop, Zookeeper, Sirius, AWS cloud, and Avalanche DLT, in order to quantify their scalability in terms of numerical concurrency, contention, and coherency.
              a.read-more EXPAND
              a.collapse COLLAPSE
              p.section-schedule-item--live
                span
                | Livestream
              .section-schedule-item__right--speaker
                .section-schedule-item__right--speaker-left
                  img(src="../assets/img/neil-gunther.jpg", alt="Neil J. Gunther")
                .section-schedule-item__right--speaker-right
                  p Dr. Neil J. Gunther
          .section-schedule-item.schedule-grey
            .section-schedule-item__left
              p 12:00 PM
            .section-schedule-item__right
              h3 Lunch
          .section-schedule-item
            .section-schedule-item__left
              p 01:00 PM
            .section-schedule-item__right
              h3 Combating Entropy in a Highly Distributed System
              .section-schedule-item__right--text
                p In this talk, we’ll go over the case study of Helpshift as a massively distributed architecture that sees 160,000 requests per second and cover topics with respect to problems that arise due to entropy. Topics will include, what data inconsistencies are in real world, Helpshift’s distributed architecture, initial attempts and why did they not work? We’lI also talk about isolating the root cause which results in data inaccuracies, the solution and mitigating unsolvable side effects of distributed architectures.
              a.read-more EXPAND
              a.collapse COLLAPSE
              .section-schedule-item__right--speaker
                .section-schedule-item__right--speaker-left
                  img(src="../assets/img/somya-maithani.jpg", alt="Somya Maithani")
                .section-schedule-item__right--speaker-right
                  p Somya Maithani
          .section-schedule-item
            .section-schedule-item__left
              p 02:15 PM
            .section-schedule-item__right
              h3 Highly Scalable Distributed Tracing and Monitoring System
              .section-schedule-item__right--text
                p In large scale customer focused distributed systems with asynchronous programming based products, tracing and monitoring becomes hard. As system scales with higher request counts for the product with multiple projects involved in a single pipeline, having proper logging, tracing, monitoring and metric system setup for the product reliably available becomes difficult. In this talk I will be speaking about comparing distributed monitoring, observability, and performance packages and the best practices to build a generic scalable distributed monitoring, observability, and performance package independent on your code style of your project.
              a.read-more EXPAND
              a.collapse COLLAPSE
              .section-schedule-item__right--speaker
                .section-schedule-item__right--speaker-left
                  img(src="../assets/img/tapasweni-pathak.jpg", alt="Tapasweni Pathak")
                .section-schedule-item__right--speaker-right
                  p Tapasweni Pathak
          .section-schedule-item.schedule-grey
            .section-schedule-item__left
              p 03:00 PM
            .section-schedule-item__right
              h3 Tea Break
          .section-schedule-item#time-0400pm
            .section-schedule-item__left
              p 04:00 PM
            .section-schedule-item__right
              h3 Knowledge Logic: Applications to Distributed Systems and Life in General
              .section-schedule-item__right--text
                p Knowledge Logic is a system of logic that provides a framework for what it means to "know" something, or how to deduce "I know that you know that I know". This has far-reaching implications for everything from distributed systems to politics to navigating traffic. This talk is a gentle introduction to the topic, and will leave you with the knowhow to topple dicators.
              a.read-more EXPAND
              a.collapse COLLAPSE
              .section-schedule-item__right--speaker
                .section-schedule-item__right--speaker-left
                  img(src="../assets/img/dr-sriram-srinivasan.jpg", alt="Dr. Sriram Srinivasan")
                .section-schedule-item__right--speaker-right
                  p Dr. Sriram Srinivasan

      section#sponsors.section-sponsors
        .container
          .section-sponsors__wrapper
            h2.dash-underline.dash-underline-center Sponsors
            h3 Gold Sponsors
            a(href="https://trustingsocial.com", target="_blank", rel="noopener noreferrer")
              img(src="../assets/img/Trusting-Social-engineering-color-on-White.png", alt="Trusting Social Engineering logo", title="Trusting Social Engineering")
            a(href="https://www.atlassian.com/", target="_blank", rel="noopener noreferrer")
              img(src="../assets/img/Atlassian-horizontal-blue-rgb.svg", alt="Atlassian logo", title="Atlassian")
            h3 Digital Sponsor
            a(href="https://www.thoughtworks.com/", target="_blank", rel="noopener noreferrer")
              img(src="../assets/img/thought-works-logo.png", alt="Thought Works logo", title="Thought Works")
            h3 Silver Sponsor
            a(href="https://elastic.co/", target="_blank", rel="noopener noreferrer")
              img(src="../assets/img/elastic-logo.png", alt="Elasticsearch logo", title="Elasticsearch")
            //- div
            //-   a(href="sponsor/").button Become a Sponsor

      section#location.section-location
        .container
          h2.dash-underline Location
          p Hotel Novotel, Pune, Maharashtra
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7564.523938641499!2d73.91137682258827!3d18.56222457027324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c13f953dc837%3A0xb6782032b34e422e!2sNovotel+Pune+Nagar+Road!5e0!3m2!1sen!2sin!4v1542028023287', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')

      //- section#organisers.section-organisers
      //-   .container
      //-     h2.dash-underline Organisers
      //-     .section-organisers__items
      //-       .section-organisers__item
      //-         img.section-organisers__item--avatar(src="../assets/img/nishant-modak.jpg", alt="Nishant Modak")
      //-         p Nishant Modak
      //-         a.section-organisers__item--link(href="https://www.linkedin.com/in/modak/", target="_blank", rel="noopener noreferrer")
      //-           img(src="../assets/img/linkedin.svg", alt="linkedin")
      //-       .section-organisers__item
      //-         img.section-organisers__item--avatar(src="../assets/img/shripad-agashe.jpg", alt="shripad agashe")
      //-         p Shripad Agashe
      //-         a.section-organisers__item--link(href="https://www.linkedin.com/in/sagashe/", target="_blank", rel="noopener noreferrer")
      //-           img(src="../assets/img/linkedin.svg", alt="linkedin")
      //-       .section-organisers__item
      //-         img.section-organisers__item--avatar(src="../assets/img/akshat-goyal.jpg", alt="akshat goyal")
      //-         p Akshat Goyal
      //-         a.section-organisers__item--link(href="https://www.linkedin.com/in/akshat-goyal/", target="_blank", rel="noopener noreferrer")
      //-           img(src="../assets/img/linkedin.svg", alt="linkedin")
      //-       .section-organisers__item
      //-         img.section-organisers__item--avatar(src="../assets/img/sandeep-deshmukh.jpg", alt="sandeep deshmukh")
      //-         p Sandeep Deshmukh
      //-         a.section-organisers__item--link(href="https://www.linkedin.com/in/sandeep-deshmukh/", target="_blank", rel="noopener noreferrer")
      //-           img(src="../assets/img/linkedin.svg", alt="linkedin")
      //-       .section-organisers__item
      //-         img.section-organisers__item--avatar(src="../assets/img/chandrashekhar-patil.jpg", alt="chandrashekhar patil")
      //-         p Chandrashekhar Patil
      //-         a.section-organisers__item--link(href="https://www.linkedin.com/in/cshekharpatil/", target="_blank", rel="noopener noreferrer")
      //-           img(src="../assets/img/linkedin.svg", alt="linkedin")

    //- #mc_embed_signup.sticky-signup-form
    //-   .container
    //-     form#mc-embedded-subscribe-form.validate(action='https://oogway.us17.list-manage.com/subscribe/post?u=3b53d3b251c5ec89b2abd666d&id=1d9694b921', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate)
    //-       #mc_embed_signup_scroll.sticky-signup-form-items
    //-         .sticky-signup-form-left
    //-           img(src="../assets/img/email.svg", alt="email")
    //-           p Sign up for the DSConf newsletter and get special discount coupon for DSConf 2019
    //-         .sticky-signup-form-right
    //-           input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Email Address', required)
    //-           div(style='position: absolute; left: -5000px;', aria-hidden='true')
    //-             input(type='text', name='b_3b53d3b251c5ec89b2abd666d_1d9694b921', tabindex='-1', value='')
    //-           .clear
    //-             input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
    //-       .sticky-signup-form--close
    //-         img(src="../assets/img/close.svg", alt="close")

    footer#footer
      .footer-links
        .container
          p Proudly hosted by Distributed Systems Meetup, Pune
          a(href='https://twitter.com/dist_sys', target='_blank', rel='noopener noreferrer')
            img(src='../assets/img/twitter-white.svg', width='30', alt='dsconf twitter')
          a(href='https://www.meetup.com/Distributed-Systems-Meetup/', target='_blank', rel='noopener noreferrer')
            img(src='../assets/img/meetup-white.svg', width='30', alt='dsconf meetup')

      //- .footer-copyright
      //-   .container
      //-     a(href='https://ghaas.xyz', target='_blank', rel='noopener noreferrer') Powered by Ghaas


    noscript#tsNoJsMsg Javascript on your browser is not enabled.
    script(src='//www.townscript.com/popup-widget/townscript-widget.nocache.js', type='text/javascript')
    script(src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js")
    script(src='../assets/js/app.js', type='text/javascript')
