<!DOCTYPE html>
html(lang="en")
  head
    // Google Tag Manager
    script (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WKQJ2JG');
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title DSConf 2020 | India's Premier Distributed Systems Conference
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='icon', type='image/png', href='assets/img/DSConf_logo.png')
    // Search Engine
    meta(name='description', content='DSConf is an yearly conference on distributed systems held in Pune. The third edition is slated for 1 Feb 2020 at Novotel, Pune.')
    meta(name='image', content='assets/img/dsconf-2020-meta.jpg')
    // Schema.org for Google
    meta(itemprop='name', content="DSConf 2020 | India's Premier Distributed Systems Conference")
    meta(itemprop='description', content='DSConf is an yearly conference on distributed systems held in Pune. The third edition is slated for 1 Feb 2020 at Novotel, Pune.')
    meta(itemprop='image', content='assets/img/dsconf-2020-meta.jpg')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content="DSConf 2020 | India's Premier Distributed Systems Conference")
    meta(name='twitter:description', content='DSConf is an yearly conference on distributed systems held in Pune. The third edition is slated for 1 Feb 2020 at Novotel, Pune.')
    meta(name='twitter:site', content='@dist_sys')
    meta(name='twitter:creator', content='@dist_sys')
    meta(name='twitter:image:src', content='assets/img/dsconf-2020-meta.jpg')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='url', property='og:url', content='https://dsconf.in')
    meta(name='site_name', property='og:site_name', content='DSConf 2020')
    meta(name='title', property='og:title', content="DSConf 2020 | India's Premier Distributed Systems Conference")
    meta(name='type', property='og:type', content='website')
    meta(name='image', property='og:image', content='assets/img/dsconf-2020-meta.jpg')
    meta(name='description', property='og:description', content='DSConf is an yearly conference on distributed systems held in Pune. The third edition is slated for 1 Feb 2020 at Novotel, Pune.')
    // Twitter universal website tag code
    script.
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','o18c2');
      twq('track','PageView');
  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WKQJ2JG", height="0", width="0", style="display:none;visibility:hidden")

    nav.nav.position-relative
      .nav-container
        img(src="assets/img/DSConf2020-light.svg", alt="DSConf 2020 logo")
        button.button-unstyled.nav-toggle(type="button", onclick="toggleMobileNav(event);")
          svg(fill='#ffffff', height='24', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
            path(d='M0 0h24v24H0z', fill='none')
            path(d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z')
        .nav-links
          a(href="#speakers") Speakers
          a(href="#sponsors") Sponsors
          a(href="#location") Location
          a(href="code-of-conduct/") Code of Conduct
          a(href="2019/", title="DSConf 2019") 2019
          a(href="2018/", title="DSConf 2018") 2018

    main.index
      section.index-hero.position-relative
        .circle
        .container
          .row.position-relative
            .flex-1
              h1.mb-1
                span.small India's Premier
                br
                | Distributed
                br
                span.systems.position-relative Systems
                br
                | Conference
              p.event-details.uppercase.primary.bold 1
                sup st
                |  Feb 2020
                span.separator
                | Novotel, Viman Nagar, Pune
              .buttons.position-relative
                .button-talk
                  button.button(disabled) Submit a Talk
                a.button.button-inverted.normal(href="https://www.townscript.com/e/distributed-systems-conference-2020-323131/booking", target="_blank", rel="noopener noreferrer") Buy Tickets
                //- .submit-talk-form
                //-   p CFP will be announced soon!
                //-   button(type="button", onclick="closeSubmitHandler();").button-unstyled.submit-talk-form--close
                //-     img(src="assets/img/close.svg", alt="close", width="25px")
            .flex-1
              img.index-hero--img.position-relative(src="assets/img/dsconf20-header.png", alt="dsconf20 header")

      section#speakers.index-speakers.center.position-relative
        .circle
        .container
          h2 Speakers
          .index-speakers__items.row
            //- .index-speakers__item.flex-1
            //-   img.index-speakers__item--avatar(src="assets/img/peter-alvaro.jpg", alt="Peter Alvaro")
            //-   h3 Peter Alvaro
            //-   p Peter Alvaro is an Assistant Professor of Computer Science at UC Santa Cruz. He earned his PhD at UC Berkeley, where he was advised by Joe Hellerstein. His research interests lie at the intersection of databases, distributed systems and programming languages: in particular, he wants to know how the lessons from the first may be incorporated into the third, and to what degree this mitigates the difficulties of the second.
            //-   a(href="https://twitter.com/palvaro", target="_blank", rel="noopener noreferrer")
            //-     img(src="assets/img/twitter-white.svg", alt="twitter")
            .index-speakers__item.flex-1
              img.index-speakers__item--avatar(src="assets/img/rajeev-bharshetty.jpg", alt="Rajeev N Bharshetty")
              h3 Rajeev N Bharshetty
              p Rajeev is a Passionate Polyglot Programmer and a theoretical Computer Science Nerd. He is currently interested and focused on Distributed Systems, Security and Data. He is working on building reliability at scale on 300+ Micro-services at GO-JEK.
              a(href="https://twitter.com/rbharshetty", target="_blank", rel="noopener noreferrer")
                img(src="assets/img/twitter-white.svg", alt="twitter")
            .index-speakers__item.flex-1
              img.index-speakers__item--avatar(src="assets/img/unmesh-joshi.jpg", alt="Rajeev N Bharshetty", style="object-position: top")
              h3 Unmesh Joshi
              p Unmesh Joshi is Principal Consultant, Head of Technology at ThoughtWorks, India. He’s a self-proclaimed enthusiast of Distributed Systems and it’s implementations.
              a(href="https://twitter.com/unmeshjoshi", target="_blank", rel="noopener noreferrer")
                img(src="assets/img/twitter-white.svg", alt="twitter")
            .index-speakers__item.flex-1
              img.index-speakers__item--avatar(src="assets/img/manisha-salve.jpeg", alt="Manisha Salve", style="object-position: top")
              h3 Manisha Salve
              p Manisha Salve is currently working with Data Direct Networks, India as Senior developer. She has been extensively working on storage and High Performance computing domain for more than a decade now! She is a hardcore programmer and loves to work on complex systems.
              //- a(href="https://twitter.com/unmeshjoshi", target="_blank", rel="noopener noreferrer")
              //-   img(src="assets/img/twitter-white.svg", alt="twitter")
            .index-speakers__item.flex-1
              img.index-speakers__item--avatar(src="assets/img/piyush-verma.jpg", alt="Piyush Verma")
              h3 Piyush Verma
              p Piyush has been working on Infrastructure Engineering and Distributed Systems for almost a Decade, from the days when things would break they would make a sound. He considers himself fortune to have learned these skills from some of the best engineers while scaling fairly large complex database systems like Cassandra, building an Iaas platform, or building his own microservice communication bus.
                br
                | His most recent stint was heading Site Reliability Engineering at Trustingsocial.com which credit-scored nearly half-billion users across 3 countries, 5 datacenters, 3 clouds.
              //- a(href="https://twitter.com/unmeshjoshi", target="_blank", rel="noopener noreferrer")
              //-   img(src="assets/img/twitter-white.svg", alt="twitter")
            .index-speakers__item.flex-1
              img.index-speakers__item--avatar(src="assets/img/udayan-kanade.jpg", alt="Udayan Kanade")
              h3 Udayan Kanade
              p Udayan did his MS in Computer Science from Stanford University. After working in parallel programming methodologies for a few years, Udayan started Oneirix Labs. Oneirix develops new technologies (hardware and algorithms) for companies across the world.
              //- a(href="https://twitter.com/unmeshjoshi", target="_blank", rel="noopener noreferrer")
              //-   img(src="assets/img/twitter-white.svg", alt="twitter")

      section#schedule.index-schedule
        .container
          h2.center Schedule
          .index-schedule-item#time-0830am
            .index-schedule-item__left
              p 08:30 AM
            .index-schedule-item__right
              h3 Registration &amp; Breakfast
          .index-schedule-item#time-0900am
            .index-schedule-item__left
              p 09:00 AM
            .index-schedule-item__right
              h3 It Won't Make a Noise When it Breaks
              .index-schedule-item__right--text
                p Systems fail but the real failures are the ones from those we learn nothing. This talk is a tale of few such failures that went right under our noses and what we did to prevent those. The failures covered range from Heterogenous systems, unordered events, missing correlations and just human errors.
              button.button-unstyled.read-more(type="button" onclick="expandTalkDescription(event);") EXPAND
              button.button-unstyled.collapse(type="button" onclick="collapseTalkDescription(event);") COLLAPSE
              .index-schedule-item__right--speaker
                .index-schedule-item__right--speaker-left
                  img(src="assets/img/piyush-verma.jpg", alt="Piyush Verma")
                .index-schedule-item__right--speaker-right
                  p Piyush Verma
          .index-schedule-item#time-1000am
            .index-schedule-item__left
              p 10:00 AM
            .index-schedule-item__right
              h3 Patterns of Implementing Consensus
              .index-schedule-item__right--text.section-schedule-item__right--text
                p Consensus is an important concept in distributed systems. There are various algorithms like Paxos, ZAB, RAFT which are used in mainstream products. While on the face of it the algorithms look different, there are some common implementation patterns observed in all mainstream implementations. The talk will show working implementations of ZAB and RAFT to explain these patterns. The talk will mostly be showcasing working code backed by PPT only where needed. The code is available on github https://github.com/unmeshjoshi/distributedarchitectures which includes strip down versions of ZAB, Kafka and Cassandra. I will focus mostly on consensus part of the code.
              button.button-unstyled.read-more(type="button" onclick="expandTalkDescription(event);") EXPAND
              button.button-unstyled.collapse(type="button" onclick="collapseTalkDescription(event);") COLLAPSE
              .index-schedule-item__right--speaker
                .index-schedule-item__right--speaker-left
                  img(src="assets/img/unmesh-joshi.jpg", alt="Unmesh Joshi")
                .index-schedule-item__right--speaker-right
                  p Unmesh Joshi
          .index-schedule-item.schedule-grey#time-1100am
            .index-schedule-item__left
              p 11:00 AM
            .index-schedule-item__right
              h3 Tea Break
          .index-schedule-item#time-1130am
            .index-schedule-item__left
              p 11:30 AM
            .index-schedule-item__right
              h3 Distributed Transactions which Scale
              .index-schedule-item__right--text
                p In a traditional monolithic application backed by a database, you are guaranteed to get ACID properties through localised database transactions. However in a complex microservice architecture, numerous services take part in solving a particular business problem. These services are loosely coupled and backed by their own databases. Maintaining application consistency across these services is a big challenge.In this talk, I propose an alternate solution implemented at Gojek for maintaining application consistency across services which scales. We discuss The Saga pattern, its fundamentals and how it is applied at Gojek. We go through real world cases of its successful application and implementation in production with code samples in Go.
              button.button-unstyled.read-more(type="button" onclick="expandTalkDescription(event);") EXPAND
              button.button-unstyled.collapse(type="button" onclick="collapseTalkDescription(event);") COLLAPSE
              .index-schedule-item__right--speaker
                .index-schedule-item__right--speaker-left
                  img(src="assets/img/rajeev-bharshetty.jpg", alt="Rajeev Bharshetty")
                .index-schedule-item__right--speaker-right
                  p Rajeev Bharshetty
          .index-schedule-item.schedule-grey#time-1230pm
            .index-schedule-item__left
              p 12:30 PM
            .index-schedule-item__right
              h3 Lunch
          .index-schedule-item#time-0130pm
            .index-schedule-item__left
              p 01:30 PM
            .index-schedule-item__right
              h3 Flash Talks
              //- .index-schedule-item__right--text
              //-   p In this talk, we’ll go over the case study of Helpshift as a massively distributed architecture that sees 160,000 requests per second and cover topics with respect to problems that arise due to entropy. Topics will include, what data inconsistencies are in real world, Helpshift’s distributed architecture, initial attempts and why did they not work? We’lI also talk about isolating the root cause which results in data inaccuracies, the solution and mitigating unsolvable side effects of distributed architectures.
              //- button.button-unstyled.read-more(type="button" onclick="expandTalkDescription(event);") EXPAND
              //- button.button-unstyled.collapse(type="button" onclick="collapseTalkDescription(event);") COLLAPSE
              //- .index-schedule-item__right--speaker
              //-   .index-schedule-item__right--speaker-left
              //-     img(src="assets/img/somya-maithani.jpg", alt="Somya Maithani")
              //-   .index-schedule-item__right--speaker-right
              //-     p Somya Maithani
          .index-schedule-item#time-0200pm
            .index-schedule-item__left
              p 02:00 PM
            .index-schedule-item__right
              h3 Multi-Core Programming
              .index-schedule-item__right--text
                p Multi-core systems are around for quite some time now. But lot of applications are not written to take full advantage of the parallalizm it provides to the applications, improving the performance. This talk will cover multiple advantages multi-core systems provide and will also point out the challenges in multi-core programming. This will also cover real-life examples of multi-core programming.
              button.button-unstyled.read-more(type="button" onclick="expandTalkDescription(event);") EXPAND
              button.button-unstyled.collapse(type="button" onclick="collapseTalkDescription(event);") COLLAPSE
              .index-schedule-item__right--speaker
                .index-schedule-item__right--speaker-left
                  img(src="assets/img/manisha-salve.jpeg", alt="Manisha Salve")
                .index-schedule-item__right--speaker-right
                  p Manisha Salve
          .index-schedule-item.schedule-grey#time-0300pm
            .index-schedule-item__left
              p 03:00 PM
            .index-schedule-item__right
              h3 Tea Break
          .index-schedule-item#time-0400pm
            .index-schedule-item__left
              p 03:30 PM
            .index-schedule-item__right
              h3 Algorithmic Fault Tolerance: A Road Traffic Management Case Study
              .index-schedule-item__right--text
                p Fault tolerance is not just a systems concern: there is an algorithmic aspect to it as well. This talk will explain some aspects of algorithmic fault tolerance using distributed AI traffic signals as a case study. Oneirix's AI traffic signal technology optimizes road traffic in real time using a fog-edge-cloud system architecture. A large part of this architecture is out weathering sun, rain and hail and hence fault tolerance is of utmost important. The experience of developing this system may be applied to other autonomous distributed systems as well.
              button.button-unstyled.read-more(type="button" onclick="expandTalkDescription(event);") EXPAND
              button.button-unstyled.collapse(type="button" onclick="collapseTalkDescription(event);") COLLAPSE
              .index-schedule-item__right--speaker
                .index-schedule-item__right--speaker-left
                  img(src="assets/img/udayan-kanade.jpg", alt="Udayan Kanade")
                .index-schedule-item__right--speaker-right
                  p Udayan Kanade

      section#sponsors.index-sponsors.center
        .container
          .index-sponsors__wrapper
            h2 Sponsors
            h3 Platinum Sponsor
            a(href="https://www.atlassian.com/" target="_blank" rel="noopener noreferrer")
              img(src="assets/img/Atlassian-horizontal-blue-rgb.svg", alt="Atlassian logo" width="330")
            h3(style="margin-top: 25px;") Gold Sponsor
            a(href="https://sahajsoft.com/" target="_blank" rel="noopener noreferrer")
              img(src="assets/img/sahaj-software-logo.png", alt="sahaj software logo")
            h3(style="margin-top: 25px;") Digital Sponsor
            a(href="https://www.thoughtworks.com/" target="_blank" rel="noopener noreferrer")
              img(src="assets/img/thought-works-logo.png", alt="thought works logo" width="250")
            h3(style="margin-top: 25px;") Recruitment Partner
            a(href="https://workshiphq.com/" target="_blank" rel="noopener noreferrer")
              img(src="assets/img/workship-logo.svg", alt="workship logo" width="240")
            h3(style="margin-top: 25px;") Student Sponsor
            a(href="http://one2n.in/" target="_blank" rel="noopener noreferrer" style="margin-top: 15px")
              img(src="assets/img/One2n-logo.png", alt="one2n logo" width="190")
            p Interested in being a part of the DSConf 2020 as a sponsor? 
              a(href="sponsor/") Learn More.

      section#location.index-location
        .container
          h2.center Location
          p.center
            span.bold Hotel Novotel
            br
            | Viman Nagar, Pune, Maharashtra
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7564.523938641499!2d73.91137682258827!3d18.56222457027324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c13f953dc837%3A0xb6782032b34e422e!2sNovotel+Pune+Nagar+Road!5e0!3m2!1sen!2sin!4v1542028023287', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')

      //- #mc_embed_signup.sticky-signup-form
      //-   .container
      //-     form#mc-embedded-subscribe-form.validate(action='https://oogway.us17.list-manage.com/subscribe/post?u=3b53d3b251c5ec89b2abd666d&id=55a4bc37f0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate)
      //-       #mc_embed_signup_scroll.sticky-signup-form-items
      //-         .sticky-signup-form-left
      //-           img(src="assets/img/email.svg", alt="email")
      //-           p Sign up for the DSConf newsletter and get special discount coupon for DSConf 2020
      //-         .sticky-signup-form-right
      //-           input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Email Address', required)
      //-           div(style='position: absolute; left: -5000px;', aria-hidden='true')
      //-             input(type='text', name='b_3b53d3b251c5ec89b2abd666d_1d9694b921', tabindex='-1', value='')
      //-           .clear
      //-             input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
      //-       button.button-unstyled.sticky-signup-form--close(type="button", onclick="closeStickyForm();")
      //-         img(src="assets/img/close.svg", alt="close")

    footer.footer.center
      .container
        p Proudly hosted by Distributed Systems Meetup, Pune
        a(href='https://twitter.com/dist_sys', target='_blank', rel='noopener noreferrer')
          img(src='assets/img/twitter-white.svg', width='30', alt='dsconf twitter')
        a(href='https://www.meetup.com/Distributed-Systems-Meetup/', target='_blank', rel='noopener noreferrer')
          img(src='assets/img/meetup-white.svg', width='30', alt='dsconf meetup')

    //- script(src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js")
    //- script.
    //-   var submitTalkForm = document.getElementsByClassName('submit-talk-form')[0];
    //-   var stickySignUpForm = document.getElementsByClassName('sticky-signup-form')[0];

    //-   function talkSubmitHanlder() {
    //-     if (submitTalkForm.className === 'submit-talk-form active') {
    //-       submitTalkForm.className = "submit-talk-form";
    //-     } else {
    //-       submitTalkForm.className = "submit-talk-form active";
    //-     }
    //-   }

    //-   function closeSubmitHandler() {
    //-     submitTalkForm.className = "submit-talk-form";
    //-   }

    //-   function closeStickyForm() {
    //-     stickySignUpForm.style.bottom = "-80px";
    //-     stickySignUpForm.style.opacity = "0";
    //-   }
    script.
      var navLinks = document.getElementsByClassName('nav-links')[0];
      function toggleMobileNav(event) {
        if (navLinks.className === 'nav-links') {
          navLinks.className = 'nav-links active';
        } else {
          navLinks.className = 'nav-links';
        }
      }

      var nav = document.getElementsByClassName('nav')[0];

      window.addEventListener('scroll', function(e) {
        if (window.pageYOffset > 10) {
          nav.className = 'nav sticky';
        } else {
          nav.className = 'nav';
        }
      });

      function collapseTalkDescription(e) {
        var parent = e.target.parentElement;
        var textEl = parent.getElementsByClassName('index-schedule-item__right--text')[0];
        var readMoreText = parent.getElementsByClassName('read-more')[0];
        textEl.style.maxHeight = '66px';
        e.target.style.display = 'none';
        readMoreText.style.display = 'inline-block';
      }

      function expandTalkDescription(e) {
        var trucTextEl = e.target.parentElement.getElementsByClassName('index-schedule-item__right--text')[0];
        trucTextEl.style.maxHeight = 'unset';
        e.target.style.display = 'none';
        var collapseEl = e.target.parentElement.getElementsByClassName('collapse')[0];
        collapseEl.style.display = 'inline-block';
      }
